<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br" xmlns:fb="http://ogp.me/ns/fb#" >

<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../Google-Ecommerce/orderconfirmation.js" ></script>
	<script type="text/javascript" src="../../Vero/orderconfirmation.js" ></script>
</head>
	<body>
		<div id="dataLayer" style="display:none;">


var transactionTotalOrder =  [{"orderTotalID": "2885", "orderTotalValue": "77.89", "productId": "fflyeu"}]

var transactions = [
    {"orderID": "2885",
    "orderValue": "77.89",
    "shippingValue": "21.90",
    "city": "Fortaleza",
    "state": "CE",
    "country": "BR",
    "productSKU": "Flyer (s/ Dobra);A6 (10 x 15 cm);Frente e Verso;4x4 (colorido);Couché Brilho 150g; Refile;Sem Extras;Sem Enobrecimento",
    "productName": "Flyer",
    "productCat": "Flyer (s/ Dobra);A6 (10 x 15 cm);Frente e Verso;4x4 (colorido);Couché Brilho 150g; Refile;Sem Extras;Sem Enobrecimento",
    "unitPrice": "0.31",
    "quantity": "250",
    "paymentMethod": "fatura"},
]
		</div>
	</body>
</html>





